/*!
 * TreesLife Frontpage CSS
 * Copyright 2015 Muhamad Luthfie La Roeha
*/

.login-pages
{
	overflow: hidden;
	height: 100vh;
	padding-top:65px;
	background-color: #efefef;
	margin: 0;
	display: block;
	text-align: center;	
	color:#727272;
}

.login-pages:before
{
	background-color:#4CAF50;
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	z-index: 0;
}

.login-pages:after
{
	content: "";
	vertical-align: middle;
	display: inline-block;
	width: 1px;
	height: 100%;
}


.login-pages .login-content
{
	background: #fff;
	box-shadow: 0 1px 11px rgba(0,0,0,.27);
	border-radius: 2px;
	padding: 35px 55px;
	display: inline-block;
	margin-top: -60px;
	vertical-align: middle;
	position: relative;
	z-index: 10;
	text-align: left;
}

.login-content .btn-login
{
	top: 50%;
	margin-top: -25px;
	right: -25px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	outline: none;
}

.login-pages .login-nav
{
	position: absolute;
	left:0;
	bottom: -45px;
	text-align: center;
	width: 100%;
}

.login-pages .login-nav .login-nav-btn
{
	color: #ffffff;
	border-radius: 10px;
	background-color: #388E3C;
	padding:4px 6px;
	font-size: 12px;
}

.btn-login i
{
	transition:all;
	transition-duration:.5s;
}

.btn-login:hover i
{
	transform: rotateZ(360deg);
}