@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }

html
{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color:#FFFFFF;
}

body
{
  font-family: "Roboto", sans-serif;
}

/* Navbar */

.navbar-brand .img-logo
{
    margin-top:-7px;
    height:35px;
    width: auto;
    display: inline-block;
}


/* Forms */

.form-group .fi-label.fi-icon
{
  vertical-align: bottom;
  padding-right: 10px;
  padding-top:10px;
  font-size: 23px;
  margin-bottom: 0;
}

.form-group .fi-inline
{
  position: relative;
  display: inline-block; 
}

.form-group .fi-inline:after
{
  content:' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #64B5F6;
  transition-duration:.3s;
  transform: scale3d(0, 1, 1);
  transform-origin:top center;
}

.form-group .fi-inline.fi-focus:after
{
  transform: scale3d(1, 1, 1);  
}

.form-group .fi-inline .form-control:not(:disabled)
{
  color: #000;
}

.form-group .fi-inline .form-control
{
  border-radius: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0;
  width: 100%;
}


/* End Forms */

/* Button */

.btn-float
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  line-height: 38px;
}

.btn-float i
{
  font-size: 23px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus
{
  background-color:#795548;
  border-color: transparent;
}

/* End Button */