/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


img {
	max-width: 100%;
	height: auto;
}

a {
	color: #90C695;
}

a:hover {
	color: #999;
}

* {
    font-family: 'Roboto';
}

/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

.wrapper
{
    overflow: hidden;
}

.section {
	position: relative;
	padding: 120px 0;
}


/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 15px 0;
	font-weight: 400;
	color: #FFF !important;
    transition-duration: .3s;
}

.navbar.scrolled
{
    background-color: #4CAF50;
    padding: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .26);
}

.navbar-custom .nav li a
{
  transition-duration:.3s;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  background: none;
  outline: 0;
  font-weight: 700;
}

.scrolled.navbar-custom .nav li a:hover,
.scrolled.navbar-custom .nav li a:focus,
.scrolled.navbar-custom .nav li.active {
  background: #388E3C;
  font-weight:400;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 26px;
	color: #FFF;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 14px;
}

.navbar-color,
.custom-collapse {
	background: #1b1212;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 10px 0;
}

.navbar-color .nav li a:hover,
.navbar-color .nav li a:focus,
.navbar-color .nav li.active,
.navbar-color .navbar-nav > li.active a {
	color: #90C695;

}

.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
	color: #888;
}

.custom-collapse .navbar-nav {
	text-align: left;
}

.custom-collapse .navbar-nav > li.active {
	border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
	background: #90C695;
}

/* ---------------------------------------------- /*
 * Intro
/* ---------------------------------------------- */

#intro {
	background: rgba(34, 34, 34, .2) !important;
	z-index: auto !important;
	padding: 260px 0 160px 0;
	text-align: center;
    height: 761px;
}

#intro,
#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6 {
	color: #FFF;
}

.hello {
	margin: 0 0 100px;
}

/* ---------------------------------------------- /*
 * Card
/* ---------------------------------------------- */

.card {
    cursor: default;
    position: relative;
    width: 371px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-header { 
    width: 371px;
    height: 235px;
    background-size: cover;
    border-radius: 1px 1px 0 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card:hover .card-header {
    background-position-y: -25px;
}

.card-header-mask {
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card:hover .card-header-mask {
    background-color: rgba(0, 0, 0, .6);
}

.card-header-date, .card-body-header-category {
    text-transform: uppercase;
    background-color: #EF5A31;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.card-body-header-category {
    position: absolute;
    font-size: 13px;
    top: -31px;
    left: 0;
    padding: 8px 14px;
    line-height: 15px;
}

.card-header-date {
    float: right;
    margin: 20px 20px 0 0;
    border-radius: 50%;
    font-weight: bold;
    padding: 12px 15px;
    line-height: 15px;
}

.card-header-date-day {
    font-size: 18px;
}

.card-header-date-month {
    font-size: 11px;
}

.card-body {
    background-color: #FFF;
    border-radius: 0 0 1px 1px;
    padding: 0 26px 26px 26px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.card-body-header {
    position: absolute;
    left: 0;
    padding: 26px;
    background-color: #FFF;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card:hover .card-body-header {
    margin-top: -141px;
}

.card h1 {
    color: #23282D;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}


.card-body-header-sentence {
    color: #EF5A31;
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 19px;
}

.card-body-header-sentence span {
    font-style: italic;
}

.card-body-description {
    opacity: 0;
    color: #757B82;
    line-height: 30px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.card:hover .card-body-description {
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.card-body-footer {
    position: relative;
    z-index: 10;
    margin-top: 14px;
    font-size: 14px;
    color: #9FA5A8;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.icon-time {
    margin-top: -3px;
    width: 10px;
    height: 17px;
    background: url(icon-time.png) no-repeat;
}

.icon-comment {
    margin-top: -2px;
    margin-left: 12px;
    width: 14px;
    height: 14px;
    background: url(icon-comment.png) no-repeat;
}
/* ---------------------------------------------- /*
 * Threshold
/* ---------------------------------------------- */
#threshold{
    margin-bottom: 25px;
}

.treshold-title{
    text-align: center;
    position: relative;
}

.StretchGoalsProgressBar {
    background-color: grey;
    background-position: center;
    position: relative;
    display: block;
    float: left;
    width: 5%;
    vertical-align: top;
    background-repeat: repeat-y;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.35);    
}

.StretchGoalAmount {
  color: #4CAF50;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  padding-left: 12px;
  vertical-align: top;
  height: 100%;
  cursor: default;
  border-top-style: solid;
  border-top-color: #515151;
  border-top-width: 1px;
  margin-right: -4px;
}

.StretchGoalReward {
  position: relative;
  display: block;
  float: left;
  width: 70%;
  height: 200px;
  left: 0px;
  margin-left: -4px;
  border-top-style: solid;
  border-top-color: #515151;
  border-top-width: 1px;
}

.StretchGoalDesc {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  color: #ba9e88;
  text-transform: uppercase;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.StretchGoalDescTitleText {
  color: #4CAF50;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 1.0;
}

.StretchGoalDescText {
  padding-top: 5px;
  color: #808080;
  font-size: 16px;
  opacity: 1.0;
  text-transform: none;
}

/* ---------------------------------------------- /*
 * Donation
/* ---------------------------------------------- */
.donasi{
    margin-top: 10%;
    margin-bottom: 10%;
    height: 250px;
    width: 100%;
    border-right-style: solid;
    border-right-color: #515151;
    border-right-width: 3px;
}
/* ---------------------------------------------- /*
 * Register & Login
/* ---------------------------------------------- */
.register-login{
    margin-top: 10%;
    margin-bottom: 10%;
    height: 250px;
    width: 100%;
       
}
.register-login-style{
    text-align: center;
    margin-top: 5%;
    font-weight: 500;
}

#button-or{
    font-size: 24px;
}
#register{
    text-align: left;
}

#login{
    text-align: left;
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #795548;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #5D4037;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* ---------------------------------------------- /*
 * Form
/* ---------------------------------------------- */

.login-test{
    overflow: hidden;
	height: 100%;
	background-color: #efefef;
	display: block;
	text-align: center;	
	color:#727272;
}

.login-content
{   
	background: #fff;
	box-shadow: 0 1px 11px rgba(0,0,0,.27);
	border-radius: 2px;
	padding: 35px 55px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 10;
	text-align: left;
    margin-top: 10px;
    margin-bottom: 10px
}